body {
    font-family: 'Noto Serif', serif;
    margin: 0px;
}

#my-section {
    display: flex;
    margin-top: 0px;
    padding: 0px 20px 0px 40px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

#my-section div {
    width: 50%;
    text-align: justify;
    padding: 0px 30px 0px 30px;
}

#my-section div img {
    width: 90%;
}

#my-section div h1 {
    font-size: 40px;
}

#my-section div span {
    color: orange;
}

#my-section div h3 {
    font-size: 25px;
}

#my-section a {
    text-decoration: none;
    font-weight: 700px;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(orange, tomato);
}

#my-passion {
    display: flex;
    padding: 0px 40px 0px 60px;
    text-align: justify;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin-bottom: 50px;
}

#my-passion div {
    width: 50%;
    padding-right: 40px;
}

#my-passion div img {
    width: 90%;
}

#my-passion a {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    font-weight: 700px;
    padding: 10px 20px;
    border-radius: 10px;
}

#my-passion h1 {
    font-size: 40px;
}

#my-passion h3 {
    font-size: 25px;
}

#my-experience {
    display: flex;
    padding: 0px 30px 0px 60px;
}

#my-experience div {
    width: 40%;
    padding: 0px 20px 0px 20px;
    text-align: justify;
    box-shadow: 0 0 40px grey;
    border-radius: 10px;
    margin-bottom: 50px;
}

#my-experience h1 {
    font-size: 35px;
}

#my-experience h3 {
    color: orange;
    font-size: 20px;
}

#head {
    font-size: 40px;
}

#full {
    margin-right: 2%;
    margin-left: 2%;
    border-left: 10px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}

#baby {
    margin-left: 3%;
    border-left: 10px solid;
    border-image: linear-gradient(blue, aqua);
    border-image-slice: 1;
}

#my-exp {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer {
    text-align: center;
}